.class1{
	margin:0;
	color:#6a6f8c;
	background-image: url(https://cdn.wallpapersafari.com/96/32/kcgD6a.jpg);
  background-repeat:repeat;
	font:600 16px/18px 'Open Sans',sans-serif;
  height: 680px;
}
span{
  color: red;
  width: 100px;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}
input{
  width: 300px;
}
.alert-danger{
  width: 200px;
}
.class1{
  padding-top: 10%;
  padding-left: 35%;
}
form{
  color: white;
  display: inline-block;
  border: 0px solid;
  padding: 40px;
  background-color: rgb(0, 0,0,0.6);
  border-radius: 10px;
}

a:hover{
  color: greenyellow;
}

.class3{
  background-color: transparent;
}
